# -------------------------------
# Stockwise Environment Variables
# -------------------------------

# Django settings
DEBUG=True
SECRET_KEY=super-secret-key   # Change for production

# -------------------------------
# Database (PostgreSQL)
# -------------------------------
DATABASE_NAME=stockwise       # Database name
DATABASE_USER=postgres        # Database username
DATABASE_PASSWORD=defaultpwd    # Database password
DATABASE_HOST=db              # Use 'db' in Docker, 'localhost' for local
DATABASE_PORT=5432            # Internal container port (do not change)

DB_EXTERNAL_PORT=54321         # Host port for Postgres (customizable)

# -------------------------------
# Django App / Gunicorn
# -------------------------------
APP_INTERNAL_PORT=8000        # Internal container port for Gunicorn
APP_EXTERNAL_PORT=8123        # Host port to access API

# -------------------------------
# CORS Configuration
# -------------------------------
FRONTEND_URL=http://localhost:3000   # URL of the frontend application